################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cursor/FileContentIndex/02009b49-51f8-48db-b7aa-aa127faedd53.vsidx
/.vs/slnx.sqlite
