################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cursor/FileContentIndex/2a15d615-f4b2-480e-b0b9-0b7992b65dc6.vsidx
/.vs
